<div class="page-header">
  <h1 class="text-center"> NIST <small></small></h1>
</div>
<div class="jumbotron">
	<a class="btn btn-primary btn-lg text-center" role="button" href="/admin" style="color: #fff;">Login To Admin</a>
</div>